




/*------------------------------------------------------------------------------------
Menubar  
-------------------------------------------------------------------------------------*/
.signup-button a{
    text-decoration: none;
    padding: 10px 25px;
    border: 2px solid #23AAF2;
    border-radius: 10px;
    color: #23AAF2;
    font-weight: 600;
    transition: all 0.3s ;
}

.signup-button a:hover{
    background: #23AAF2;
    color: white;
}