

body a{
    text-decoration: none;
}
.blue-text-1{
    color: #23AAF2;
}
.blue-text{
    color: #FB171E;
}
.golden-text{
    color: gold;
}
.blue-button-2{
    padding: 10px 25px;
    display: inline-block;
    color: white;
    font-size: 1.3em;
    border: 2px solid white;
    border-radius: 10px ;
    font-weight: 600;
    transition: all 0.3s ;
}
.blue-button-2:hover{
    background: white;
    color: #21A3F1;
    border: 2px solid #21A3F1;
}
/*------------------------------------------------------------------------------------
Menubar  
-------------------------------------------------------------------------------------*/
.signup-button a{
    text-decoration: none;
    padding: 10px 25px;
    border: 2px solid #23AAF2;
    border-radius: 10px;
    color: #23AAF2;
    font-weight: 600;
    transition: all 0.3s ;
}

.signup-button a:hover{
    background: #23AAF2;
    color: white;
}
.nav-menu ul li a{
    color: white !important;
    font-weight: 600;
}


/*------------------------------------------------------------------------------------
Banner section  
-------------------------------------------------------------------------------------*/
.banner-section{
    background: url(images/banner-bg.jpg)no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 100px 0;
}
.banner-section h1{
    font-weight: 600;
    color: white;
    font-size: 3.5em;
}

/*------------------------------------------------------------------------------------
Slider section  
-------------------------------------------------------------------------------------*/
.slider-card{
    position: relative;
    overflow: hidden;
}
.slider-image{
    z-index: 100;
}
.slider-image img{
    width: 100%;
}

.slider-card-text{
    background: rgba(255, 255, 255, 0.411);
    position: absolute;
    top: 0%;
    bottom: 0;
    transform: translateY(100%);
    transition: all 0.4s;
}
.slider-card:hover .slider-card-text{
    transform: translateY(0%);
    /* top: 0%; */
}
.slider-card-text .first-span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}
.first-span h4{
    font-size: 1.2em;
    font-weight: 600;
    margin-right: 20px;
}
.second-span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second-span p{
    margin-top: -10px;
}








/*-------------------------------------------------------------------------- 
Media query
---------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------
For mobile:  
---------------------------------------------------------------------------*/
@media only screen and (max-width:480px){
    .menu-image img{
        width: 80%;
    }
    .signup-button a{
        text-decoration: none;
        padding: 5px 15px;
        border: 2px solid #23AAF2;
        border-radius: 10px;
        color: #23AAF2;
        font-weight: 600;
        transition: all 0.3s ;
    }
    .signup-button{
        position: absolute;
        top: 22px;
        left: 40%;
    }
}

/*--------------------------------------------------- 
For ipads, tablet:  
---------------------------------------------------*/
@media only screen and (min-width:481px) and (max-width:768px) {
    .menu-image img{
        width: 80%;
    }
    .signup-button a{
        text-decoration: none;
        padding: 5px 15px;
        border: 2px solid #23AAF2;
        border-radius: 10px;
        color: #23AAF2;
        font-weight: 600;
        transition: all 0.3s ;
    }
    .signup-button{
        position: absolute;
        top: 22px;
        left: 40%;
    }
}

/*-----------------------------------------
 For Small screen, laptop:  
-----------------------------------------*/
@media only screen and (min-width:769px) and (max-width:1024px) {
    .menu-image img{
        width: 80%;
    }
    .signup-button a{
        text-decoration: none;
        padding: 5px 15px;
        border: 2px solid #23AAF2;
        border-radius: 10px;
        color: #23AAF2;
        font-weight: 600;
        transition: all 0.3s ;
    }
    .signup-button{
        position: absolute;
        top: 22px;
        left: 40%;
    }
}
